<h1> TR VIAL </h1>
<h2> Productos </h2>


<div id="contenedorProductos" class="productGrid">


    <p style="display: none;">Cart ID: {{cartId}}</p>


    {{#each productos}}
    <div class="productCard textCard">
        <h3>{{title}}</h3>
        <p>${{price}}</p>
        <p>{{category}} </p>
        

        <button id='addToCart' class="btn btn-primary" cart-id="{{../cartId}}" product-id="{{_id}}"> Agregar al Carrito
        </button>
        <form action="/carts/{{../cartId}}" method="get">
            <button class='btn btn-primary btn-lg'> Ir al carrito</button>
        </form>
    </div>

    {{/each}}


</div>

<div class="contenedorPages">

    <div class="contenedorPage">

        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"> Anterior </a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"> Siguiente </a>
        {{/if}}

    </div>

    <div class="contenedorPageDos">
        <p>Pagina {{currentPage}} de {{totalPages}} </p>
    </div>

</div>

<script src="/static/js/front.js"></script>